.title {
  color: var(--text-color);
}

.boardPage {
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
}

.backArrow {
  display: flex;
  color: var(--text-color);
  font-size: 30px;
}

.headerOptions {
  display: flex;
  justify-content: space-between;
}

.lightbulbImage {
  max-height: 5%;
  max-width: 5%;
}
