.board {
  transition: transform 0.3s ease-in-out;
  max-height: auto;
  max-width: 300px;
  color: var(--text-color);
  margin: 10px;
}

.boardPic {
  max-height: 80%;
  max-width: 80%;
  border: 1px solid var(--text-color);
  border-radius: 5%;
}

.board:hover {
  transform: translateY(-10px);
}

#changeBoard {
  padding: 8px;
  border-radius: 4px;
  background-color: var(--text-color);
  margin: 5px;
  color: var(--background-color);
}
