footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  height: 30px;
  flex-shrink: 0;
  padding: 10px;

  background-color: var(--text-color);
  color: var(--background-color);
}
