.kudosCard {
  transition: transform 0.3s ease-in-out;
  max-height: auto;
  max-width: 300px;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  margin: 10px;
}

.kudosPic {
  max-height: 80%;
  max-width: 80%;
  border: 2px solid var(--text-color);
  border-radius: 5%;
}

.kudosCard:hover {
  transform: translateY(-10px);
}

#changeCard {
  padding: 8px;
  border-radius: 4px;
  background-color: var(--text-color);
  margin: 5px;
  color:var(--background-color);
}

#comment {
  padding: 5px;
  border-radius: 4px;
  background-color: var(--text-color);
  margin: 8px;
  color:var(--background-color);
}
