.kudosCard {
  transition: transform 0.3s ease-in-out;
  max-height: auto;
  max-width: 300px;
  color: #56261b;
  border: 2px solid #56261b;
  margin: 10px;
}

.kudosPic {
  max-height: 80%;
  max-width: 80%;
  border: 2px solid #56261b;
  border-radius: 5%;
}

.kudosCard:hover {
  transform: translateY(-10px);
}

#changeCard {
  padding: 8px;
  border-radius: 4px;
  background-color: #56261b;
  margin: 5px;
}

#comment {
  padding: 5px;
  border-radius: 4px;
  background-color: #56261b;
  margin: 8px;
}
